
@{
    ViewBag.Title = "FinalizarCompra";
}
<br />
<h2 class="text-center">¡¡Gracias por su compra, regrese pronto!!</h2>
<div class="text-center mt-5">
    @Html.ActionLink("Seguir Comprando", "Index", "Libro", null, new { @class = "btn btn-success" })
</div>

